#modules
node_modules/

#package-lock.json
package-lock.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Entornos virtuales
.venv/
venv/
env/

# Entorno/secretos
.env
.env.*

# Django
staticfiles/
media/

# Base de datos local (si alguna vez usas sqlite)
db.sqlite3

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.code-workspace

# SO
.DS_Store
Thumbs.db
